###############################################
# LAMP stack with Nagios monitoring
#
###############################################

networks:
  porta01:
    driver: bridge

volumes:
  data_master:
  data_replica:

services:
  ### Frontend Apache + PHP
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: "${APP_HOST}"
    volumes:
      - ../src:/var/www/html
      - ../apache/conf/001-ssl.conf:/etc/apache2/sites-available/000-default.conf
      - ../apache/tls/server.crt:/etc/ssl/certs/server.crt
      - ../apache/tls/server.key:/etc/ssl/private/server.key
      - ../tls/ca/certs/ca.crt:/etc/ssl/certs/ca.crt
    networks:
      - porta01
    ports:
      - "${APP_PORT}:80"
      - "${APP_PORT_SSL}:443"
    depends_on:
      db-slave:
        condition: service_healthy
    environment:
      - DB_WRITE_HOST=${DB_MASTER_HOST}
      - DB_READ_HOST=${DB_SLAVE_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSW}
    #healthcheck:
    #   test: ["CMD-SHELL", "curl -f -s http://localhost || exit 1"]
    #  interval: 5s
    #   timeout: 1s
    #  retries: 3
    #  start_period: 5s

  ### MySQL database
  db-master:
    image: mysql:8.0
    container_name: "${DB_MASTER_HOST}"
    volumes:
      - ../db/master/config/master.cnf:/etc/mysql/my.cnf
      - ../db/master/init:/docker-entrypoint-initdb.d
      - ../db/master/healthcheck.sh:/usr/bin/healthcheck.sh
      - ../tls/ca/certs/ca.crt:/etc/mysql/ssl/ca.pem
      - ../db/master/tls/server.crt:/etc/mysql/ssl/server.crt
      - ../db/master/tls/server.key:/etc/mysql/ssl/server.key
      - data_master:/var/lib/mysql
    networks:
      - porta01
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_MASTER_ROOT_PASSW}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSW}
      - REPLICA_USER=${DB_REPLICA_USER}
      - REPLICA_PASSWORD=${DB_REPLICA_PASSW}
    healthcheck:
      test: ["CMD-SHELL", "/usr/bin/healthcheck.sh"]
      interval: 10s
      timeout: 1s
      retries: 10
      start_period: 20s

  db-slave:
    image: mysql:8.0
    container_name: "${DB_SLAVE_HOST}"
    volumes:
      - ../db/slave/config/replica.cnf:/etc/mysql/my.cnf
      - ../db/slave/init:/docker-entrypoint-initdb.d
      - ../db/slave/healthcheck.sh:/usr/bin/healthcheck.sh
      - ../tls/ca/certs/ca.crt:/etc/mysql/ssl/ca.pem
      - ../db/slave/tls/client.crt:/etc/mysql/ssl/client.crt
      - ../db/slave/tls/client.key:/etc/mysql/ssl/client.key
      - data_replica:/var/lib/mysql
    networks:
      - porta01
    depends_on:
      db-master:
        condition: service_healthy
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_SLAVE_ROOT_PASSW}
      - MYSQL_DATABASE=${DB_NAME}
      - DB_MASTER_HOST=${DB_MASTER_HOST}
      - REPLICA_USER=${DB_REPLICA_USER}
      - REPLICA_PASSWORD=${DB_REPLICA_PASSW}
    healthcheck:
      test: ["CMD-SHELL", "/usr/bin/healthcheck.sh"]
      interval: 10s
      timeout: 2s
      retries: 20
      start_period: 30s

  ### Monitoring with Nagios
  nagios:
    image: manios/nagios:latest
    container_name: nagios
    ulimits:
      nofile:
        soft: 32768
        hard: 32768
      nproc:
        soft: 4096
        hard: 4096
    networks:
      - porta01
    ports:
      - "${NAGIOS_PORT}:80"
    command: ["/usr/local/bin/init_nagios.sh"]
    environment:
      - NAGIOSADMIN_USER=${NAGIOS_ADMIN}
      - NAGIOSADMIN_PASS=${NAGIOS_PASSW}
      - NAGIOS_TIMEZONE=${TIMEZONE}
      - DB_MASTER_HOST=${DB_MASTER_HOST}
      - DB_SLAVE_HOST=${DB_SLAVE_HOST}
      - APP_HOST=${APP_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSW}
    volumes:
      - ../nagios/etc:/opt/nagios/etc
      - ../nagios/init.sh:/usr/local/bin/init_nagios.sh
    restart: unless-stopped
