###############################################
# LAMP stack with Nagios monitoring
#
###############################################

networks:
  porta01:
    driver: bridge

volumes:
  data_master:
  data_replica:

services:
  ### Frontend Apache + PHP
  web:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../src:/var/www/html
    networks:
      - porta01
    ports:
      - "${APP_PORT}:80"
    depends_on:
      db-slave:
        condition: service_healthy
    environment:
      - DB_WRITE_HOST=${DB_MASTER_HOST}
      - DB_READ_HOST=${DB_SLAVE_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSW}
    healthcheck:
      test: ["CMD-SHELL", "curl -f -s http://localhost || exit 1"]
      interval: 5s
      timeout: 1s
      retries: 3
      start_period: 5s

  ### MySQL database
  db-master:
    image: mysql:8.0
    container_name: "${DB_MASTER_HOST}"
    volumes:
      - ../db/master/config/master.cnf:/etc/mysql/my.cnf
      - ../db/master/init:/docker-entrypoint-initdb.d
      - ../db/master/healthcheck.sh:/usr/bin/healthcheck.sh
      - ../db/ca-cert.pem:/etc/mysql/ssl/ca-cert.pem
      - ../db/master/tls/server-cert.pem:/etc/mysql/ssl/server-cert.pem
      - ../db/master/tls/server-key.pem:/etc/mysql/ssl/server-key.pem
      - data_master:/var/lib/mysql
    networks:
      - porta01
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_MASTER_ROOT_PASSW}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSW}
      - REPLICA_USER=${DB_REPLICA_USER}
      - REPLICA_PASSWORD=${DB_REPLICA_PASSW}
    healthcheck:
      test: ["CMD-SHELL", "/usr/bin/healthcheck.sh"]
      interval: 10s
      timeout: 1s
      retries: 10
      start_period: 20s

  db-slave:
    image: mysql:8.0
    container_name: "${DB_SLAVE_HOST}"
    volumes:
      - ../db/slave/config/replica.cnf:/etc/mysql/my.cnf
      - ../db/slave/init:/docker-entrypoint-initdb.d
      - ../db/slave/healthcheck.sh:/usr/bin/healthcheck.sh
      - ../db/ca-cert.pem:/etc/mysql/ssl/ca-cert.pem
      - ../db/slave/tls/client-cert.pem:/etc/mysql/ssl/client-cert.pem
      - ../db/slave/tls/client-key.pem:/etc/mysql/ssl/client-key.pem
      - data_replica:/var/lib/mysql
    networks:
      - porta01
    depends_on:
      db-master:
        condition: service_healthy
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_SLAVE_ROOT_PASSW}
      - MYSQL_DATABASE=${DB_NAME}
      - DB_MASTER_HOST=${DB_MASTER_HOST}
      - REPLICA_USER=${DB_REPLICA_USER}
      - REPLICA_PASSWORD=${DB_REPLICA_PASSW}
    healthcheck:
      test: ["CMD-SHELL", "/usr/bin/healthcheck.sh"]
      interval: 10s
      timeout: 2s
      retries: 20
      start_period: 30s

  ### Monitoring with Nagios
  nagios:
    image: manios/nagios:latest
    container_name: nagios
    ulimits:
      nofile:
        soft: 32768
        hard: 32768
      nproc:
        soft: 4096
        hard: 4096
    networks:
      - porta01
    ports:
      - "9090:80"
    environment:
      - NAGIOSADMIN_USER=nagiosadmin
      - NAGIOSADMIN_PASS=ChangeMe!
      - NAGIOS_TIMEZONE=Europe/London
    volumes:
      - ../nagios/etc:/opt/nagios/etc
      - ../nagios/var:/opt/nagios/var
    restart: unless-stopped
